name: Node.js CI/CD with Docker

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      # 1. Clean up node_modules (if any)
      - name: Clean up node_modules
        run: sudo rm -rf /home/jazzam/actions-runner/jazzaam-nodejs-folder/jazzam-nodejs/jazzam-nodejs/node_modules

      # 2. Set proper permissions for runner
      - name: Set proper permissions for runner
        run: sudo chown -R $USER:$USER /home/jazzam/actions-runner/jazzaam-nodejs-folder/jazzam-nodejs

      # 3. Checkout latest code
      - name: Checkout Code
        uses: actions/checkout@v4

      # 4. Clear npm cache (on runner, not inside container)
      - name: Clear npm cache
        run: |
          echo "Clearing npm cache..."
          npm cache clean --force

      # 5. Create .env file dynamically from GitHub Secrets
      - name: Create .env file from GitHub Secrets
        run: |
          echo "${{ secrets.DOCKER_ENV_FILE }}" > /home/jazzam/actions-runner/jazzaam-nodejs-folder/jazzam-nodejs/jazzam-nodejs/.env
          echo ".env file created successfully."

      # 6. Stop & Remove Existing Container (if running)
      - name: Stop & Remove Existing Container
        run: |
          CONTAINER_ID=$(sudo -u jazzam docker ps -aq --filter "name=jazzam-backend-container")
          if [ ! -z "$CONTAINER_ID" ]; then
            echo "Stopping existing container..."
            sudo -u jazzam docker stop jazzam-backend-container
            sudo -u jazzam docker rm jazzam-backend-container
          fi

      # 7. Build Docker Image without using cache
      - name: Build Docker Image (no cache)
        run: |
          sudo -u jazzam docker build --no-cache -t jazzam-nodejs-image:latest .

      # 8. Run New Container
      - name: Run New Container
        run: |
          echo "Running new container..."
          sudo -u jazzam docker run -d --env-file /home/jazzam/actions-runner/jazzaam-nodejs-folder/jazzam-nodejs/jazzam-nodejs/.env -p 4000:4000 --name jazzam-backend-container jazzam-nodejs-image:latest


      # 9. Prune Unused Docker Resources
      - name: Prune Unused Docker Resources
        run: |
          echo "Cleaning up unused Docker resources..."
          sudo -u jazzam docker system prune -af --volumes

  nginx:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Validate and Restart Nginx
        run: |
          echo "Testing Nginx configuration..."
          sudo nginx -t
          echo "Restarting Nginx..."
          sudo systemctl restart nginx
