name: Deploy FastAPI App via Self-Hosted Runner
 
on:
  push:
    branches:
      - feature/staging
 
jobs:
  deploy:
    runs-on: [self-hosted, staging]
    steps:
      
      - name: Checkout Code
        uses: actions/checkout@v4
 
      - name: Build Docker Image
        run: |
          echo "Building latest Docker image..."
          docker build --no-cache -t jazzam-nodejs-image .
 
      - name: Stop & Remove Existing Container
        run: |
          CONTAINER_ID=$(docker ps -aq --filter "name=jazzam-nodejs-container")
          if [ ! -z "$CONTAINER_ID" ]; then
            docker stop jazzam-nodejs-container
            docker rm jazzam-nodejs-container
          fi
 
      - name: Run New Container from Latest Image
        run: |
          echo "Running container from latest image..."
          docker run -d --name jazzam-nodejs-container --restart=always  -p 4000:4000 jazzam-nodejs-image
 
      - name: Cleanup Unused Docker Images
        run: |
          echo "Cleaning up old Docker images..."
          docker image prune -af
 
  nginx:
    runs-on: [self-hosted, staging]
    needs: deploy
    steps:
      - name: Test and Reload Nginx
        run: |
          echo "Testing nginx configuration..."
           sudo nginx -t 
           sudo systemctl reload nginx
 
